/*.blue {
    color: blue;
}
.pink {
    background-color: pink;
}
.brown {
    background-color: brown;
}
.yellow {
    background-color: yellow;
}*/

.text {
    color: orange;
    font-size: 20px;
    font-family: Comic Sans MS;
}